// The dashboard for Lecturers/Admins

- content_for :title, "Home"

//New button
.py-2
    %a.btn.btn-success{:href => new_timetabled_session_path}
        New Session


%h1
    Sessions
%hr

-if @sessions.empty?
    %center.alert.alert-warning There are no timetabled sessions.
-else
    //Load all the sessions into an accordian
    #accordian.py-5
        - @sessions.each do |session|
            = render :partial => "components/accordian-card", locals: {session: current_user.admin ? session : session.timetabled_session}