// The dashboard for Lecturers/Admins

- content_for :title, "Home"

//New button
.py-2
    %a.btn.btn-success{:href => new_timetabled_session_path}
        New Session


%h1
    Sessions
%hr

-if TimetabledSession.all == []
    %center
        %p There are no timetabled sessions.
-else
    //Load all the sessions into an accordian
    #accordian.py-5
        - TimetabledSession.all.each do |timetabled_session|
            = render :partial => "components/accordian-card", locals: {session: timetabled_session}