// The dashboard for Lecturers/Admins

- content_for :title, "Home"

.w-100
    %h1.display-4 
        Welcome
        %b
            = current_user.givenname
    %p
        Welcome to COM attendance, from here you can view sessions as well as create new ones.

    .my-3.d-flex
        .p-2
            %a.btn.btn-success{:href => new_timetabled_session_path}
                New Session
        - if (current_user.admin?)
            .p-2
                %a.btn.btn-success{:href => "/admin/manage"}
                    New User  
  
%hr

= render :partial => "components/week-pagination", locals: {week_start: @week_start, week_end: @week_end, current_week: @current_week, path: current_user.admin ? admin_path : lecturer_path}


#accordians.py-5
    -if @sessions.empty?
        %center.alert.alert-warning There are no timetabled sessions.
    -else
        = render :partial => "components/week-view", locals: {sessions: @sessions}



    
