// The dashboard for Lecturers/Admins

- content_for :title, "Home"

//New button
.py-2
    %a.btn.btn-success{:href => new_timetabled_session_path}
        New Session


%nav
    %ul.pagination.justify-content-center
        %li.page-item
            %a.page-link{"href" => "#"}
                %span
                    = icon "fas", "chevron-left"
        %li.page-item
            %a.page-link{"href" => "#"}
                Week goes here

        %li.page-item
            %a.page-link{"href" => "#"}
                %span
                    = icon "fas", "chevron-right"
        
    
%h1
    Sessions
%hr

#accordians.py-5
    -if @sessions.empty?
        %center.alert.alert-warning There are no timetabled sessions.
    -else
        = render :partial => "components/week-view", locals: {sessions: @sessions}



    