
-# The page to manage users

- content_for :title, "Manage Users"

%nav.mb-3
    %ol.breadcrumb.bg-white.pl-0
        %li.breadcrumb-item
            %a{"href"=> "/"} Dashboard
        %li.breadcrumb-item.active
            Manage


.w-100
    %h1.display-4 
        Manage Users
    %p
        Here you can manage user roles, you can convert lecturers to admins and vice versa.

%hr.mb-5

//Admin Table
%h4.mt-5.mb-3 Admins
%table.table.table-striped
    %thead
        %tr
            %th Name
            %th{"colspan" => "2"} Email

    %tbody
        - (1..5).each do |i|
            %tr
                %td
                    Item
                    = i 
                %td
                    Email
                    = i
                %td.text-center
                    %a.btn.btn-danger.btn-sm{:href => "#"}
                        Remove 

//Lecturer Table
%h4.mt-5.mb-3 Lecturers
%table.table.table-striped
    %thead
        %tr
            %th Name
            %th{"colspan" => "2"} Email

    %tbody
        - (1..5).each do |i|
            %tr
                %td
                    Item
                    = i 
                %td
                    Email
                    = i
                %td.text-center
                    %a.btn.btn-success.btn-sm{:href => "#"}
                        Convert 