// The dashboard for Students

- content_for :title, "Enter Code"
.code-div
  .row.justify-content-center
    .col-sm-6.col-lg-4
      .card.card-light
        = simple_form_for :form_examples, url: student_success_path do |f|
          .card-header
            Enter Code
          .card-body
            = f.input :code, autofocus: true, required: true
          .card-footer
            .row.justify-content-center
              = submit_button 'Sign In'
               
