// The dashboard for Students

- content_for :title, "Enter Code"
.code-div
  .row.justify-content-center
    .col-sm-6.col-lg-4
      .card.card-light
        = simple_form_for 'session_code', url: "/student/validate", method: :post do |f|
          .card-header
            Enter Code
          .card-body
            = f.input :session_code, autofocus: true, required: true, input_html: { :value => @qrcode}

            -# If the user joins with a QR code then display this bit
            - if (!@qrcode.nil?)
              - if(!@timetabled_session.nil?)
                .text-success
                  QR code valid
                %b
                  Title: 
                = @timetabled_session.session_title
              - else
                .text-danger
                  QR code is not valid
          .card-footer
            .row.justify-content-center
              = submit_button 'Sign In'
               
