- content_for :title, "History"
%h1 History 

#accordian.py-5
    - @history.each do |timetabled_session|
        = render :partial => "components/accordian-card", locals: {session: timetabled_session}