- content_for :title, "History"
%h1 History 
%hr

#accordians.py-5
    - if @history.empty?
        %center.alert.alert-warning You have not attended any sessions.
    - else
        = render :partial => "components/week-view", locals: {sessions: @history}