%nav#main-nav.navbar.navbar-light.bg-light.navbar-expand-lg.fixed-top
  .container
    .navbar-header
      = link_to :root, class: 'navbar-brand hidden-sm' do
        = image_tag "logo.svg", height: "28"
    %button.navbar-toggler{ aria: { controls: "navbar-content", expanded: false, label: "Toggle navigation" }, data: { target: "#navbar-content", toggle: "collapse" }, type: "button" }
      %span.navbar-toggler-icon