- # Will display the sessions in a week format Monday - Sunday
- Date::DAYNAMES.each do |day|
    - sessions.select{|record| record.start_time.strftime('%A').upcase == day.upcase}.each do |timetabled_session|
        .mb-5
            %h3
                = day
            %hr
            //Load all the sessions into an accordian
            .py-2
                = render :partial => "components/accordian-card", locals: {session: timetabled_session}