.nested-fields
  .input-group.mb-2.row
    .col-10.col-md-4
      = f.association :user, collection: @lecturers, label: false, placeholder: "Enter Lecturer email", include_blank: false, include_hidden: false, input_html: {class: 'w' }
    .col-2.px-md-0
      .input-group-append.mr-0
        = link_to_remove_association f, class: 'btn btn-danger mb-3' do
          .fa.fa-trash