.nested-fields
  = f.association :user, collection: User.where(lecturer: true).to_a << f.object.user, label: false, placeholder: "Enter Lecturer email", include_blank: false, include_hidden: false
  = link_to_remove_association "remove lecturer", f, class: 'btn btn-danger mb-3'