.nested-fields
  - @lecturers = User.where(lecturer: true)-[current_user]
  - if f.object.user and not @lecturers.include? f.object.user
    - @lecturers = @lecturers + [f.object.user]
  .input-group.mb-2.w-50
    = f.association :user, collection: @lecturers, label: false, placeholder: "Enter Lecturer email", include_blank: false, include_hidden: false
    .input-group-append
      = link_to_remove_association "Remove", f, class: 'btn btn-danger mb-3'
  
