- content_for :title, "Edit Session"


%nav.mb-3
  %ol.breadcrumb.bg-white.pl-0
    %li.breadcrumb-item
      %a{"href"=> "/"} Dashboard
    %li.breadcrumb-item.active
      Edit

.w-100
  %h1.display-4 
    Edit Session
  %p
    Here you can edit session details

%hr


= render 'form'

= link_to 'Show', @timetabled_session
