@import "bootstrap/functions";
@import "bootstrap/variables";

$footer-height: 60px;
$environment-notice-height: 2rem;


/*
 * Our system colours go here to override the Bootstrap
 * variables
 */
$theme-colors: (
  primary: #3797D5,
  secondary: #4D5062,
  success: #34BD56,
  danger: #D6587C,
  warning: #DAB526,
  info: #6771BD,
  
  "accordion-left": #809591,
  "accordion-right": #ECEFEF,
  "accordion-text": #156498,
  "light-grey": #ebebeb,
  "light-blue":#e8eef9,
  "light-pink": #F8DFEF,
  "light-green": #bce8b8,
  "baby-blue": #b0d8f2,
);